
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="row d-flex align-items-center justify-items-center">
        <div class=" " data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center ">
                <div class="col-xl-7 col-lg-9 text-center">
                    <h1>VetDent International</h1>

                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>Vetdent International is the brainchild of Gerhard Steenkamp who is currently the only director of the company.  </p>
                </div>

                <div class="row content">
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Gerhard completed his BVSc degree in 1994 from the University of Pretoria’s Faculty of Veterinary Science at Onderstepoort, after obtaining his BSc (Zoology) at the same institution.  He completed the inaugural course in dentistry offered through the European school for Advanced Veterinary Studies in 1998.  After 3 years in Europe he returned to Onderstepoort where he has been the head of the Dentistry and Maxillofacial Surgery clinic ever since.  Gerhard did his MSc on the clinically relevant morphometrics of African elephant tusks and in 2017 completed his PhD on structure, development and pathology of the cheetah maxillofacial complex.
                        </p>

                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            In 2017 Gerhard became a founding member of the certificate in Zoo and Wildlife Dentistry under the auspices of the American Veterinary Dental College.  His research interests include developmental dentistry and maxillofacial surgery of non-domesticated species as well as maxillofacial pathology and surgery of domestic species. He has lectured in many parts of North America, Europe, Asia, Australia and Africa.  Gerhard has published 50 peer reviewed papers, authored or co-authored 5 book chapters and has delivered more than 50 international conference presentations.
                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->

        <!-- ======= About Video Section ======= -->
        <section id="about-video" class="about-video">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="../../../../assets/images/seal.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                        <p class="fst-italic">
                            In 2017 Gerhard became a founding member of the certificate in Zoo and Wildlife Dentistry under the auspices of the American Veterinary Dental College.  His research interests include developmental dentistry and maxillofacial surgery of non-domesticated species as well as maxillofacial pathology and surgery of domestic species. He has lectured in many parts of North America, Europe, Asia, Australia and Africa.  Gerhard has published 50 peer reviewed papers, authored or co-authored 5 book chapters and has delivered more than 50 international conference presentations
                        </p>

                        <p>
                            In 2020 Gerhard was awarded a Fellowship of the Royal College of Veterinary Surgeons for his contribution to Dentistry and Maxillofacial Surgery for wildlife and in particular his work on elephants.
                            He is married to Sonja, an oral pathologist, and they have two kids, Natanya and Marinus.

                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End About Video Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="testimonial-item">
                            <img src="assets/img/testimonials/birm.png" class="testimonial-img" alt="">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Dr. Steenkamp was a pleasure to work with. He performed a difficult tusk extraction on our 5,500kg bull elephant, who is doing great. He was easy to communicate with and, over a year later, still remains responsive to follow-up questions and updates. We would not hesitate to utilize his expertise again                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Dr. Stephanie McCain </h3>
                                <h4>Director Animal Health – Birmingham zoo, Alabama, USA</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/m_M.png" class="testimonial-img" alt="">

                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    We met Dr. Gerhard Steenkamp while working at the Poznań Zoo and we collaborated on several elephant surgeries. Gerhard is a professional in every way. He is characterized by commitment, responsibility and conscientiousness. He does his work honestly and is not afraid to share his knowledge and experience. He enjoys high recognition and respect in the zoo community in Europe and around the world. It is an honour for us to work with him.                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <h3>Mr. Mateusz Kurzownik </h3>
                                <h4>Veterinary Technician – M&M Zoo Services</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/sanctuary.png" class="testimonial-img" alt="">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    For over 19 years, I have had the privilege of working with Gerhard Steenkamp at the elephant sanctuary, where he serves as a leading elephant veterinarian specializing in elephant dentistry. His contributions to the preservation and well-being of elephants in captivity cannot be overstated. With adept skills and experience, Gerhard has treated four of my elephants, skillfully intervening in cases of extensive tusk damage and breakage. His swift action and employment of world-class best practices have ensured the safety and full recovery of my elephants.

Dr. Steenkamp has played a vital role in shaping the methodologies for managing elephants in captivity. Through his advocacy and expert guidance, he has influenced the departments of Cape Nature in the Western Cape to modify requirements and adopt new norms regarding boma reacquitements, replacing steel poles with wooden poles. Gerhard Steenkamp endorsed this recommendation, which proved to be a critical and progressive step towards reducing elephant tusk trauma and damage. His continual innovation in groundbreaking husbandry practices and practical applications further demonstrate his unrelenting commitment to the welfare of these magnificent creatures.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>

                                <h3>Mr. Craig Saunders </h3>
                                <h4>Owner – Elephant Sanctuary – South Africa</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Sevices</h2>
                    <p>Through the years I have learnt that although exciting to work on these magnificent animals, it is better to try and prevent dental and maxillofacial disease and pathology, rather than treating it.  </p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                                </svg>
                                <i class="bx bxl-dribbble"></i>
                            </div>
                            <h4><a href="">Elephants and other tusked mammals</a></h4>
                            <p>I offer a comprehensive evaluation of the housing, diet and teeth of these animals.  Clients are sent an annual report on the health of the animals’ teeth and any changes are discussed.  This follows more of a heard health approach and clients pay an annual fee.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                </svg>
                                <i class="bx bx-file"></i>
                            </div>
                            <h4><a href="">Consultations on all species</a></h4>
                            <p>
                                Consultations for individual animals with dental and maxillofacial pathology.  Clients that have enrolled for an annual subscription will get the first 5 consultations (different conditions or different animals) as part of the annual fee.
                                All other clients will be charged per consultation.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box iconbox-pink">
                            <div class="icon">
                                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                </svg>
                                <i class="bx bx-tachometer"></i>
                            </div>
                            <h4><a href="">Treatment of patients</a></h4>
                            <p>Treatments are discussed per case during the consultation and will be charged individually regardless of an annual subscriber or not.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Sevices Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
                <div class="text-center">

                    <p>
                        Should you have any questions regarding my services, you are welcome to email me directly by following this Link.
                        Interested in becoming a client, then wait no longer.  Please follow this link to enrol or to book a consultation.
                    </p>
                    <a class="cta-btn" href="/Identity/Account/Login">Login or Register</a>
                </div>
            </div>
        </section><!-- End Cta Section -->

        <!-- ======= Pricing Section ======= -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>Our Frequently Asked Questions (FAQ) section aims to address common queries and concerns that our users may have regarding our product or service. We understand that you may have questions about how our service works, its features, data security, pricing, and more. The FAQ section is designed to provide clear and concise answers to these inquiries, saving you time and offering a better understanding of our offerings. We update this section regularly based on user feedback and evolving trends, ensuring that it remains relevant and informative. If you can't find the answer you're looking for, please feel free to contact our support team, who will be delighted to assist you with any additional questions you may have. Our goal is to provide exceptional customer service and help you make the most of your experience with us.</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Does Prof. Steenkamp only work on elephants?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    No, I work on all types of animals.  I have a special interest in tusks and have spent the last 25 years improving the health of elephant tusks and molar teeth.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Can you give advice on the dentition of animals that do not have tusks?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, I can and will help you gladly.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Do you need a site visit to give advice?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Depending on the type of advice you need, a site visit may not be needed.  I can assist in many circumstances based on history, clinical signs, radiographs, CT scans, photographs or videos.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Will my data be safe? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, absolutely! We take the security and privacy of your data very seriously. At VetDent International, we employ robust measures to ensure that your data remains safe and secure at all times.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How do I pay for the services?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Secure payments will be made through PayPal.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div>
                    <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row gy-2 gx-md-3">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                </div>
                                <div class="form-group col-12">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                </div>
                                <div class="my-3 col-12">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center col-12"><button type="submit">Send Message</button></div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
