
<div class="container" >

  <div class="profile_header">

    <p>Zoo Inc - Zeus</p>


  </div>

  <div class="row profile_body">
    <div class="col">
     <img class="profile_body_photo" src="../../../../assets/images/pexels-harvey-sapir-1054666.jpg" alt="">
    </div>
    <div class="col">
      <img class="profile_body_icon" src="../../../../assets/icon/photo_camera.svg" alt="">

    </div>
    <div class="col">
      <img src="../../../../assets/icon/info.svg" class="profile_body_icon" alt="">
    </div>
    <div class="col">
      <img src="../../../../assets/icon/info.svg" class="profile_body_icon" alt="">
    </div>
    <div class="col">
      <img src="../../../../assets/icon/clinical_notes.svg" class="profile_body_icon" alt="">
    </div>
    <div class="col">
      <img src="../../../../assets/icon/chart_data.svg" class="profile_body_icon" alt="">
    </div>
    <div class="col">
      <img src="../../../../assets/icon/prescriptions.svg" class="profile_body_icon" alt="">
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
